/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    max-width: 1000px;
    margin: 50px auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para el carrusel */
.carousel {
    position: relative;
    width: 60%;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    width: 100%;
    display: none;
}

.carousel-item.active {
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Estilos para la sección de información */
.info-section {
    width: 40%;
    padding: 20px;
    background-color: #f7f7f7;
}

.info-section h2 {
    margin-top: 0;
}

input[type="date"] {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
}

.btn-reserva {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: 18px;
}

.btn-reserva:hover {
    background-color: #45a049;
}
